/* Full-width input fields */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

.notyf__toast {
  max-width: 348px !important;
}

.logIn-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  flex: 50%;
  background-image: url("../images/Login/login.png");
  background-repeat: no-repeat;
  background-size: 100%, auto;
  background-position: center 50px, center;
  text-align: center;
  color: #0eb07c;
}

.left div {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}

.left h1 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.right {
  flex: 50%;
}

.right .logo {
  text-align: center;
}

.right .logo img {
  width: 25%;
}

.icon i {
  font-size: 25px;
  cursor: pointer;
}

.right h2 {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  font-size: 25px;
  color: #59b7f5;
  ;
}

label span {
  color: red;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-bottom: 25px;
  outline: none;
}

.form-group.password {
  position: relative;
}

.form-group.password i {
  position: absolute;
  line-height: 43px;
  margin-top: 8px;
  right: 10px;
  top: 0;
  color: #59b7f5;
}

/* Set a style for all buttons */
.btn-logIn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBtn {
  background-color: #59b7f5;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 40%;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.forgot-password {
  text-align: center;
}

.forgot-password a {
  text-decoration: none;
  color: #4891d3;
  font-style: italic;
  margin: 10px 0 30px 0;
  display: inline-block;
}

/* Extra styles for the cancel button */

/* Center the image and position the close button */

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #77552f;
  border-radius: 10px;
  width: 80%;
  overflow: hidden;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}
